@charset "utf-8";
*{margin: 0; padding: 0; vertical-align: baseline; outline: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box}
body,
html{font-size: 14px; font-family: Arial,"Microsoft Yahei", Ubuntu, simHei, sans-serif!important; font-weight: 400; background-color: #fff; color: #333;height:100%;}
table,
td,
th{border-collapse: collapse; border-spacing: 0}
table{width: 100%}
td,
th{padding: 5px 10px}
img{vertical-align: middle; max-width: 100%;}
li,
ol,
ul{list-style: none}
/*容器*/
.block{display: block}
.inline{display: inline}
.inline-b{display: inline-block!important}
.box-box{box-sizing: border-box}
.oh{overflow: hidden}
/*链接*/
a{text-decoration: none; color: #333;}
/*浮动*/
.float-l{float: left}
.float-r{float: right}
/*字号*/
.f0{font-size: 0!important}
.f8{font-size: 0.5rem!important}
.f10{font-size: 0.625rem!important}
.f12{font-size: 0.75rem!important}
.f13{font-size: 0.8125rem!important}
.f14{font-size: 0.875rem!important}
.f15{font-size: 0.9375rem!important}
.f16{font-size: 1rem!important}
.f18{font-size: 1.125rem!important}
.f20{font-size: 1.25rem!important}
.f22{font-size: 1.375rem!important}
.f24{font-size: 1.5rem!important}
.f26{font-size: 1.625rem!important}
.f28{font-size: 1.75rem!important}
.f30{font-size: 1.825rem!important}
.f32{font-size: 2rem!important}
.f36{font-size: 2.25rem!important}
.f40{font-size: 2.5rem!important}
.f50{font-size: 3.125rem!important}
.f54{font-size: 3.375rem!important}
.f80{font-size: 5rem!important}
.fw-b{font-weight: 700}
.fw-n{font-weight: 400}
.f-del{text-decoration: line-through}
/*栅格*/
.col{padding: 0 2px; box-sizing: border-box}
.col-5{width: 5%}
.col-10{width: 10%}
.col-15{width: 15%}
.col-20{width: 20%}
.col-25{width: 25%}
.col-30{width: 30%}
.col-33{width: 33%}
.col-35{width: 35%}
.col-40{width: 40%}
.col-50{width: 50%}
.col-60{width: 60%}
.col-66{width: 66%}
.col-70{width: 70%}
.col-75{width: 75%}
.col-80{width: 80%}
.col-85{width: 85%}
.col-90{width: 90%}
.col-100{width: 100%}
/*边距*/
.m-auto{ margin: 0 auto!important}
.mt0{margin-top: 0!important}
.mt5{margin-top: 5px!important}
.mt7{margin-top: 7px!important}
.mt10{margin-top: 10px!important}
.mt15{margin-top: 15px!important}
.mt20{margin-top: 20px!important}
.mt25{margin-top: 25px!important}
.mt30{margin-top: 30px!important}
.mt40{margin-top: 40px!important}
.mt50{margin-top: 50px!important}
.mt60{margin-top: 60px!important}
.mt70{margin-top: 70px!important}
.mt150{margin-top: 150px!important}
.ml0{margin-left: 0!important}
.ml5{margin-left: 5px!important}
.ml10{margin-left: 10px!important}
.ml15{margin-left: 15px!important}
.ml20{margin-left: 20px!important}
.ml25{margin-left: 25px!important}
.ml30{margin-left: 30px!important}
.ml35{margin-left: 35px!important}
.ml40{margin-left: 40px!important}
.ml50{margin-left: 50px!important}
.mr0{margin-right: 0!important}
.mr5{margin-right: 5px!important}
.mr10{margin-right: 10px!important}
.mr15{margin-right: 15px!important}
.mr20{margin-right: 20px!important}
.mr25{margin-right: 25px!important}
.mr30{margin-right: 30px!important}
.mr40{margin-right: 40px!important}
.mr45{margin-right: 45px!important}
.mr50{margin-right: 50px!important}
.mb0{margin-bottom: 0!important}
.mb5{margin-bottom: 5px!important}
.mb10{margin-bottom: 10px!important}
.mb15{margin-bottom: 15px!important}
.mb20{margin-bottom: 20px!important}
.mb25{margin-bottom: 25px!important}
.mb30{margin-bottom: 30px!important}
.mb40{margin-bottom: 40px!important}
.mb50{margin-bottom: 50px!important}
.pt0{padding-top: 0!important}
.pt5{padding-top: 5px!important}
.pt10{padding-top: 10px!important}
.pt15{padding-top: 15px!important}
.pt20{padding-top: 20px!important}
.pt25{padding-top: 25px!important}
.pt30{padding-top: 30px!important}
.pt40{padding-top: 40px!important}
.pt50{padding-top: 50px!important}
.pl0{padding-left: 0!important}
.pl5{padding-left: 5px!important}
.pl10{padding-left: 10px!important}
.pl15{padding-left: 15px!important}
.pl20{padding-left: 20px!important}
.pl25{padding-left: 25px!important}
.pl30{padding-left: 30px!important}
.pl40{padding-left: 40px!important}
.pl50{padding-left: 50px!important}
.pl60{padding-left: 60px!important}
.pl120{padding-left: 120px!important}
.pr0{padding-right: 0!important}
.pr5{padding-right: 5px!important}
.pr10{padding-right: 10px!important}
.pr15{padding-right: 15px!important}
.pr20{padding-right: 20px!important}
.pr25{padding-right: 25px!important}
.pr30{padding-right: 30px!important}
.pr40{padding-right: 40px!important}
.pr50{padding-right: 50px!important}
.pr60{padding-right: 60px!important}
.pb0{padding-bottom: 0!important}
.pb5{padding-bottom: 5px!important}
.pb10{padding-bottom: 10px!important}
.pb15{padding-bottom: 15px!important}
.pb20{padding-bottom: 20px!important}
.pb25{padding-bottom: 25px!important}
.pb30{padding-bottom: 30px!important}
.pb40{padding-bottom: 40px!important}
.pb50{padding-bottom: 50px!important}
.pb80{padding-bottom: 80px!important}
.padding5{padding: 5px}
.padding5-10{padding: 5px 10px}
.padding5-15{padding: 5px 15px}
.padding10{padding: 10px}
.padding10-15{padding: 10px 15px}
.padding15-10{padding: 15px 10px}
.padding15{padding: 15px}
.padding20{padding: 20px}
/*宽度*/
.w100bf{width: 100%!important}
.w40{width: 40px!important;}
.w60{width: 60px!important;}
.w70{width: 70px!important;}
.w80{width: 80px!important;}
.w100{width: 100px!important;}
.w120{width: 120px!important;}
.w160{width: 160px!important;}
.w200{width: 200px!important;}
.w250{width: 250px!important;}
.w300{width: 300px!important;}
.w400{width: 400px!important;}
.w450{width: 450px!important;}
.w500{width: 500px!important;}
.w600{width: 600px!important;}
.w800{width: 800px!important;}
.w1000{width: 1000px!important;}
/*高度*/
.h100bf{height: 100%!important}
.h20{height: 20px!important}
.lh20{line-height: 20px!important}
.lh24{line-height: 24px!important}
.h30{height: 30px!important}
.lh30{line-height: 30px!important}
.h40{height: 40px!important}
.lh40{line-height: 40px!important}
.h50{height: 50px!important}
.lh50{line-height: 50px!important}
.h65{height: 65px!important}
.lh65{line-height: 65px!important}
.h80{height: 80px!important}
.lh80{line-height: 80px!important}
.h100{height: 100px!important}
.lh100{line-height: 100px!important}
/*定位*/
.pos-r{position: relative}
.pos-a{position: absolute}
.pos-f{position: fixed}
/*位置*/
.text-center{text-align: center}
.text-left{text-align: left}
.text-right{text-align: right}
.text-middle{vertical-align: middle}
.text-top{vertical-align: text-top}
.text-bottom{vertical-align: text-bottom}
.text-sub{vertical-align: sub}
/*按钮*/
.btn{display: inline-block; height: 65px; line-height: 65px; font-size: 14px; padding: 0 15px!important; border: #ccc 1px solid; border-radius: 5px; cursor: pointer;}
.cur-p{cursor: pointer;}
/*边线*/
.bd-no{border: none!important;}
.bdccc{border: #ccc 1px solid!important}
.bdcc-r{border-right: #ccc 1px solid!important}
.bdddd{border: #ddd 1px solid!important}
.bdf3{border: #f3f3f3 1px solid!important}
.bdf6{border: #f6f6f6 1px solid!important}
.bdec{border: #ececec 1px solid!important}
.bdec-t{border-top: #ececec 1px solid!important}
.bdec-b{border-bottom: #ececec 1px solid!important}
.bdec-l{border-left: #ececec 1px solid!important}
.bdec-r{border-right: #ececec 1px solid!important}
.bd999-t{border-top: #999 1px solid!important}
.bd999-b{border-bottom: #999 1px solid!important}
.bd999-l{border-left: #999 1px solid!important}
.bd999-r{border-right: #999 1px solid!important}
.bd999{border: #999 1px solid!important;}
.bd-red{border: 1px solid #f04848!important}
.bd-green{border: 1px solid #22AD75!important}
.bd-green-dash{border: 1px dashed #22AD75!important;}
/*颜色*/
.orange{color: orange!important}
.red{color: #f04848!important}
.blue{color: #409EFF!important}
.white{color: #fff!important}
.black{color: #000!important}
.green{color: #22AD75!important}
.yellow{color: #ffcc00!important}
.col333{color: #333!important}
.col666{color: #666!important}
.col999{color: #999!important}
.colccc{color: #ccc!important}
/*背景颜色*/
.bg-white{background-color: #fff!important}
.bg-orange{background-color: orange!important}
.bg-red{background-color: #f04848!important}
.bg-blue{background-color: #409EFF!important}
.bg-green{background-color: #22AD75!important}
.bg-yellow{background-color: #ffcc00!important}
.bg-f4{background-color: #f4f4f4!important}
.bg-f5{background-color: #f5f5f5!important}
.bg-999{background-color: #999!important;}
.bg-cover{background-color: rgba(0, 0, 0, 0.5)}
.bg-black{background-color: #373737!important;}
/*清除*/
.clearboth{clear: both; height: 0; width: 100%; padding: 0; margin: 0; font-size: 0; line-height: 0}
/*断文字*/
.twowrap{overflow: hidden; text-overflow: ellipsis; display: -webkit-box!important; -webkit-line-clamp: 2; -webkit-box-orient: vertical}
.wrap{overflow: hidden; text-overflow: ellipsis; display: -webkit-box!important; -webkit-line-clamp: 1; -webkit-box-orient: vertical}
/*显示隐藏*/
.show{display: block!important}
.hide{display: none!important}

.flex{display: flex;display: -webkit-box}
.f-around{justify-content: space-around;}
.f-between{justify-content: space-between;}
.f-center{justify-content: center;}
.f-align-center{align-items: center;}
.f-wrap{flex-wrap: wrap;}
.f-item{flex:1}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
}
.lf{ float: left;}
.rt{ float: right;} 
.main-box{
    padding: 20px;
    padding-bottom: 80px;
}
.page-footer{
    position: fixed;
    left: 200px;
    right: 20px;
    bottom: -2px;
    padding: 10px;
    border: 2px solid #ddd;
    background: #fff;
    z-index: 10;
}
.blue{
    color: #409eff;
}
.gray{
    color: #909399;
}
/* 输入框标红 */
input.forbid,input.forbid:focus{
    color: #f04848;
    border-color: #f04848;
}
.initInput{
    -webkit-appearance: none;
    background-color: #fff;
    background-image: none;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 40px;
    line-height: 40px;
    outline: 0;
    padding: 0 15px;
    -webkit-transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    transition: border-color .2s cubic-bezier(.645,.045,.355,1);
    width: 100%;
}
.initInput:focus{
    border-color: #409EFF;
    outline: 0;
}
.initInput:hover{
    border-color: #c0c4cc;
}